body{
  font-family: Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 0px;
  display: grid;
  justify-items: center;
  gap: 1,25rem;
}

p{
  font-size: 1,25rem;
  line-height: 1.3;
}
p, h1, h2, h3{
  margin: 0px;
}
li {
  list-style: none;
}
.logo{
  max-width: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: center;
  margin-bottom: 20px;
  margin: 0 auto;
}

/* AQUI COMEÇA O MENU */
.nav{
  display: flex;
  padding: 40px;
  gap: 20px;
}
.list-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}
.list-menu li{
  background: #fff;
  padding: 15px 30px;
  border-radius: 4px;
}
.list-menu li a {
  text-decoration: none;
  color: #000;
}
.list-menu li a:hover{
  background-color: #e21;
  color: #fff;
  transition: 0.5;
}
/* //MENU */

/* INFO  */
.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  padding-bottom: 20px;
}
a button:hover{
  background:#fff ;
  color: #e21;
  outline: 2px solid #e21;
}
.intro{
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-content: end;
}
.intro button{
  background: #e21;
  border: none;
  padding: 15px 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
/*  // INFO  */

.rodape{
  display: flex;
  gap: 30px;
  justify-content: center;
  background: #fff;
  width: 100%;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
main{
  justify-items: center;
  display: grid;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.vantagens {
  background: #fff;
  padding: 40px;
}
.vantagens-intem{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
.subtitulo{
  font-size: 64px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  align-self: center;
  padding: 40px;
}
.bike{
  max-width: 100%;
  display: block;
}
.vantagens-intem p {
  grid-column: 2;
}
.img-1{
  display: grid;
  max-width: 100%;
}
.img-1, .bike{
  display:grid;
}


@media (min-width:390px) and (max-width:414px){
  .info{
    grid-template-columns: 1fr
  }
  .bike{
    width: 390px;
  }
  .subtitulo{
    font-size: 42px;
    word-wrap: break-word;
  }
  .intro{
    text-align: inherit;
  }
  .menu .nav{
    flex-wrap: wrap;
  }
  
}